server {

{% for k,v in item.server.iteritems() %}
{% if k.find('location') == -1 and k != 'file_name' %}
    {{ k }} {{ v }};
{% endif %}
{% if k == 'server_name' %}
    access_log /var/log/nginx/{{ v }}_access.log;
    error_log /var/log/nginx/{{ v }}_error.log;
{% endif %}
{% endfor %}

{% for k,v in item.server.iteritems() if k.find('location') != -1 %}
    location {{ v.name }} {
{% for x,y in v.iteritems() if x != 'name' %}
        {{ x }} {{ y }};
{% endfor %}
    }
{% endfor %}
}
